apiVersion: apps/v1
kind: Deployment
metadata:
  name: dev-sec-ops-deployment
  labels:
    app: dev-sec-ops
spec:
  replicas: 3
  selector:
    matchLabels:
      app: dev-sec-ops
  template:
    metadata:
      labels:
        app: dev-sec-ops
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
      containers:
      - name: dev-sec-ops-container
        image: replace
        imagePullPolicy: Always
        ports:
        - containerPort: 8081

        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: false
          capabilities:
            drop:
            - ALL

        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: dev-sec-ops-service
spec:
  selector:
    app: dev-sec-ops
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8081
  type: LoadBalancer
